body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  height: 100%;
}

.wrap {
  position: relative;
  top: 0;
  width: 100%;
  height: 100vh; /* 모든 섹션이 합쳐진 높이를 자동으로 포함 */
  transition: top 0.5s ease-in-out;
}

.content {
  position: relative;
  width: 100%;
  height: 100vh; /* 각각의 섹션은 화면 크기만큼 차지 */
}

.content img {
  width: 100%; /* 화면 너비 꽉 채움 */
  height: 100%; /* 화면 높이 꽉 채움 */
  object-fit: cover; /* 비율을 유지하며 영역 채우기 */
}

.footer {
  display: none; /* 불필요한 경우 숨김 */
}

.scrollerLayer {
  display: none; /* 불필요한 경우 숨김 */
}

.scroller {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  gap: 6px;
  width: 7px;
  margin: 3vh auto;
  justify-content: center;
}

.gridItem {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.circle {
  width: 6px;
  aspect-ratio: 1 / 1;
  background-color: #111111;
  border-radius: 50%;
}

.barContainer {
  display: flex;
  position: fixed; /* 화면에 고정 */
  justify-content: flex-start;
  top: 94.1vh; /* 세로 중앙 */
  left: 50%; /* 가로 중앙 */
  transform: translate(-50%, -50%);
  width: 42px;
  transition: justify-content 0.5s ease;
}

.bar {
  width: 18px;
  height: 7px;
  border-radius: 2vh;
  background-color: #111111;
}
