body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

/* 이미지 영역 설정 */
.wrap {
  background-color: #fafafa;
  position: relative;
  top: 0%;
  width: 100%;
  transition: top 0.5s ease-in-out;
}

.content {
  position: relative;
  top: 9vh;
  left: 2.6vw;
  width: 94.9vw;
  height: 81.4vh;
  background-color: #fafafa;
}

.content img {
  width: auto; /* 이미지 비율에 따라 너비 자동 조정 */
  height: auto; /* 이미지 비율에 따라 높이 자동 조정 */
  max-width: 100%; /* 부모 레이어 크기를 넘지 않도록 제한 */
  max-height: 100%; /* 부모 레이어 크기를 넘지 않도록 제한 */
  position: absolute; /* 이미지가 레이어 중앙에 위치하도록 설정 */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* 이미지 중앙 정렬 */
}

.footer {
  position: fixed;
  top: calc(9vh + 81.3vh);
  width: 100%;
  height: 10vh;
  background-color: #fafafa;
}

.scrollerLayer {
  position: fixed;
  top: calc(9vh + 81.3vh);
  width: 100%;
  height: auto;
  background-color: #fafafa;
}

.scroller {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  gap: 6px;
  width: 7px;
  margin: 3vh auto;
  justify-content: center;
}

.gridItem {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.circle {
  width: 6px;
  aspect-ratio: 1 / 1;
  background-color: #111111;
  border-radius: 50%;
}

.barContainer {
  display: flex;
  position: fixed; /* 화면에 고정 */
  justify-content: flex-start;
  top: 94.1vh; /* 세로 중앙 */
  left: 50%; /* 가로 중앙 */
  transform: translate(-50%, -50%);
  width: 42px;
  transition: justify-content 0.5s ease;
}

.bar {
  width: 18px;
  height: 7px;
  border-radius: 2vh;
  background-color: #111111;
}
