body,
html {
  background-color: #fafafa;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

@font-face {
  font-family: "Pretendard";
  src: url("../font/Pretendard-Light.otf") format("opentype");
}

@font-face {
  font-family: "Helvetica";
  src: url("../font/Helvetica.ttf") format("truetype");
}

.visitorTitle {
  position: absolute;
  top: 22.41vh;
  left: 12.14vw;
  font-family: "Helvetica";
  font-weight: bold;
  font-size: 1.25vw;
}

#visitorForm {
  position: absolute;
  top: 22.13vh;
  left: 11.15vw;
  width: 18.13vw;
  height: auto;
  font-family: "Pretendard";
}

.input {
  display: flex;
  flex-direction: column; /* 자식 요소를 세로로 배치 */
}

#name {
  background-color: #ededed;
  width: 100%;
  height: 4.63vh;
  margin-top: 7.59vh;
  border: none;
  border-radius: 0.156vw;
  padding: 0.99vw 1.39vh;
  font-size: 0.83vw;
}

#contents {
  background-color: #ededed;
  width: 100%;
  height: 40.93vh;
  margin-top: 2.22vh;
  border: none;
  resize: none;
  padding: 0.99vw 1.39vh;
  font-family: "Pretendard";
  font-size: 0.83vw;
  border-radius: 0.156vw;
}

.action-container {
  display: flex; /* 자식 요소들을 플렉스 정렬 */
  justify-content: space-between; /* 좌우 끝으로 정렬 */
  align-items: center; /* 수직 방향 하단에 정렬 */
  margin-top: 2.41vh; /* 위쪽 간격 자동으로 채움 */
  width: 100%; /* 컨테이너 너비를 입력 필드 너비와 동일하게 설정 */
}

.writeDate {
  font-family: "Helvetica";
  font-size: 1.3vh;
  font-family: "Helvetica";
  color: gray; /* 텍스트 색상 */
  margin: 0;
  line-height: 2.87vh; /* "등록" 버튼의 높이와 동일 */
}

/* 기본 스타일 */
button[type="submit"] {
  background-color: #fafafa;
  color: black;
  width: 3vw;
  height: 2.87vh;
  border-color: black;
  border-width: 0.052vw; /* 테두리 두께 설정 */
  border-style: solid; /* 테두리 스타일 설정 */
  border-radius: 10vw;
  cursor: pointer; /* 마우스 오버 시 포인터 표시 */
  font-family: "Helvetica";
  font-size: 1.3vh;
  text-align: center;
  margin-left: auto;
  margin: 0;
}

.scrolling {
  position: absolute;
  top: 27.5vh;
  left: 31.56vw;
  width: 58.13vw;
  height: 47.78vh;
  overflow-y: auto;
}

.guestLayer {
  position: relative;
  font-family: "Helvetica";
}

.guestList {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 한 줄에 3개의 요소 */
  gap: 3%; /* 요소 간 간격 */
  margin-top: 4.7vh;
}

.visitorHeader {
  display: flex;
  justify-content: space-between; /* 날짜와 이름을 양쪽으로 정렬 */
  align-items: center;
  font-size: 1.4vh;
}

.guestDate {
  color: #b1b1b1;
}

.guestName {
  font-weight: bold;
  text-align: right; /* 내용과 간격 추가 */
}

.divider {
  width: 100%; /* 구분선 너비 */
  margin: 0;
  border: 0;
  border-top: 1px solid #111111; /* 구분선 스타일 */
}

.guestContents {
  line-height: 1.5; /* 내용 줄 간격 */
  font-size: 1.4vh;
  margin-top: 2.5vh;
  margin-bottom: 14vh;
}
