/* Reset default margins and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Pretendard";
  src: url("../font/Pretendard-Light.otf") format("opentype");
}

/* 기본 글꼴, 배경 및 텍스트 색상 */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

/* 메뉴 그리드 레이어 */
.archivingMenu {
  display: grid;
  position: absolute;
  text-align: center;
  top: 50%; /* 화면 세로 중심 */
  left: 50%; /* 화면 가로 중심 */
  transform: translate(-50%, -50%); /* 정확한 중앙 정렬 */
  grid-template-rows: repeat(3, 1fr);
  gap: 5vh;
  font-family: "Pretendard";
  color: black;
  transition: font-weight 0.3s;
  font-size: 1.67vw;
}

.archivingMenu a:hover {
  font-weight: bold;
}

a {
  text-decoration: none; /* 밑줄 제거 */
  color: inherit; /* 부모 요소의 텍스트 색상 상속 */
}

a:hover,
a:focus,
a:visited {
  text-decoration: none; /* hover, focus, visited 상태에서도 밑줄 제거 */
}
