body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Helvetica";
  src: url("../font/Helvetica.ttf") format("truetype");
}

.container {
  position: absolute;
  top: 15vh;
  left: 50%;
  transform: translateX(-50%);
  width: 84.6vw;
  height: 80vh;
  background-color: white;
}

.text-layer {
  top: 33.43vh;
  font-family: "Helvetica";
  font-size: 1.7vh;
  margin-bottom: 3vh;
}

.container img {
  width: 100%;
  height: 37.2%;
}

.container img:nth-of-type(1) {
  margin-bottom: 10vh;
  background-color: aliceblue;
}

.container img:nth-of-type(2) {
  background-color: aliceblue;
}

#visitorForm {
  position: absolute;
  top: 100vh;
  left: 50%;
  transform: translateX(-50%);
  width: 84.6vw;
  height: 100vh;
  font-family: "Helvetica";
  background-color: white;
}

#input {
  font-size: 1.4vh;
}

.line {
  width: 30%;
  margin-left: 0vw;
}

#name {
  width: 100%;
  border: none;
}

#contents {
  width: 100%;
  height: calc(1.4vh * 3);
  margin-top: 3vh;
  border: none;
  resize: none;
}
