body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafafa; /* 배경색 */
  box-sizing: border-box;
}

@font-face {
  font-family: "Pretendard";
  src: url("../font/Pretendard-Light.otf") format("opentype");
}

@font-face {
  font-family: "Helvetica";
  src: url("../font/Helvetica.ttf") format("truetype");
}

.workerTitle {
  position: absolute;
  top: 22.41vh;
  left: 12.14vw;
  font-family: "Helvetica";
  font-weight: bold;
  font-size: 1.25vw;
}

.workerImage {
  position: absolute;
  top: 50%; /* 화면 세로 중심 */
  left: 50%; /* 화면 가로 중심 */
  transform: translate(-50%, -50%); /* 정확한 중앙 정렬 */
  width: 75.68vw;
  height: 45.09vh;
  overflow: hidden;
}

.workerList {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  top: 80vh;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 5.42vw;
  font-family: "Helvetica";
  font-size: 0.83vw;
  text-align: center;
}
