/* 기본 스타일 초기화 */
body,
html {
  background-color: #fafafa;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Pretendard";
  src: url("../font/Pretendard-Light.otf") format("opentype");
}

@font-face {
  font-family: "Helvetica";
  src: url("../font/Helvetica.ttf") format("truetype");
}

/* 소개란 */
.introduceContainer {
  position: relative;
  display: grid;
  left: 50%; /* 화면 중앙 기준으로 위치 */
  transform: translateX(-50%); /* 중앙 정렬 */
  margin-top: 15.46vh;
  width: 75.78vw;
  height: 11.94vh;
  grid-template-columns: 18.06vw 56.43vw;
}

.connectLargeGrid {
  position: relative;
  display: grid;
  grid-template-rows: auto;
  left: 50%; /* 화면 중앙 기준으로 위치 */
  transform: translateX(-50%); /* 중앙 정렬 */
  width: 75.76vw;
  height: auto;
}

.connectSmallGrid {
  position: relative;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 18.06vw);
  gap: 1.17vw;
}

.connectElement {
  position: relative;
  display: grid;
  width: 100%;
  grid-template-rows: 57.41vh 11.94vh;
}

.elementImage {
  width: 100%;
  object-fit: cover;
}

.a {
  text-decoration-line: none;
}
