/* Reset default margins and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Alias";
  src: url("../font/Alias-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Pretendard";
  src: url("../font/Pretendard-Light.otf") format("opentype");
}

/* 헤더 박스 */
.header {
  position: absolute;
  top: 0vh;
  width: 94.896vw;
  justify-content: center;
  align-items: center;
}

/* 헤더 그리드 레이어 */
.headerContainer {
  display: grid;
  position: absolute;
  grid-template-columns: 56.56vw 8.645vw 8.645vw 8.645vw 8.645vw;
  grid-template-rows: 1fr;
  gap: 0.938vw;

  z-index: 10;
}

.title {
  display: flex;
  top: 3vh;
  font-family: "Alias";
  font-size: 2.214vw;
  color: #111111;
}

.menu {
  font-family: "Pretendard";
  color: #111111;
}
