/* Reset default margins and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Pretendard";
  src: url("../font/Pretendard-Light.otf") format("opentype");
}

@font-face {
  font-family: "Alias";
  src: url("../font/Alias-Bold.ttf") format("truetype");
}

/* 기본 글꼴, 배경 및 텍스트 색상 */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

/* 메뉴 그리드 레이어 */
.menuContainer {
  display: grid;
  position: absolute;
  top: 4.907vh;
  grid-template-columns: 8.645vw 8.645vw 8.645vw 66.143vw;
  grid-template-rows: 1fr;
  gap: 0.938vw;
  width: 94.896vw;
}

.menuItem {
  display: flex;
  font-family: "Pretendard";
  color: #fafafa;
  text-decoration: none;
}

/* 각 버튼의 위치 설정 */
.menuItem:nth-child(4) {
  justify-content: flex-end;
}

.title {
  position: absolute;
  top: 66.39vh;
  left: 2.55vw;
  font-family: "Alias";
  font-size: 9.48vw;
  color: #fafafa;
}
