@font-face {
  font-family: "Helvetica";
  src: url("../font/Helvetica.ttf") format("truetype");
}

@font-face {
  font-family: "Swiss";
  src: url("../font/Swis721BTRoman.ttf") format("truetype");
}

/* 빨간 원 */
.red-circle {
  width: 1.7vw; /* 29px */
  aspect-ratio: 1 / 1;
  background-color: red;
  border-radius: 50%;
  position: fixed;
  left: 96.5vw;
  top: 94vh;
  z-index: 100;
}

/* 빨간 원 중앙의 느낌표 */
.red-circle .exclamation-mark {
  color: black;
  font-family: "Swiss";
  font-size: 1vw; /* 29px */
  font-weight: 500;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
}

/* 팝업 창 */
.popup {
  width: 8.48vw; /* 163px */
  height: 8.98vh; /* 97px */
  position: fixed;
  left: 93.2vw;
  top: 87.4vh;
  transform: translate(-50%, -50%);
  background-color: red;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.52vw; /* 10px */
  z-index: 200;
}

/* 팝업 창 안의 x자 버튼 */
.popup .close-button {
  position: fixed;
  width: 0.57vw; /* 11px */
  height: 1.67vh; /* 18px */
  background-color: transparent;
  color: black;
  right: 0.52vw; /* 10px */
  top: 0.93vh; /* 10px */
  font-size: 0.83vw; /* 16px */
  text-align: center;
  line-height: 1.67vh;
  cursor: pointer;
}

/* 팝업 창 텍스트 */
.popup .popup-text {
  font-family: "Helvetica";
  font-size: 0.75vw; /* 16px */
  color: white;
  text-align: center;
  line-height: 1.5;
}
